<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stijn Sagaert</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div id="wrapper">
    <div class="block">
        <h1 id="square" class="section-heading">Portfolio van Stijn Sagaert</h1>
        <!--Links naar rechts-->
        <div class="item-hover square effect left_to_right">
            <a href="https://papipizza.herokuapp.com/toonallepizzas.php">
                <!--content hier-->
                <div class="img">
                    <img src="img/pizza.jpg" alt="img">
                </div>
                <div class="info">
                    <h3>Pizza Webshop</h3>
                    <p>De pizzawebshop was een eindopdracht voor de php opleiding. Het is opgebouwed volgend het MVC principe. Twig word gebruikt als front-end. <br> Gehost op heroku.</p>
                </div>
            </a>
        </div>
        <p class="link">
            <a href="https://github.com/Darkbelg" title="Github Stijn Sagaert">
                Github
            </a>
        </p>
        <p class="link">
            <a href="https://be.linkedin.com/in/stijn-sagaert-5096a35b" title="LinkedIn Stijn Sagaert">
                LinkedIn

            </a>
        </p>
        <p  class="link">
            <a href="https://twitter.com/darkbelg" title="&commat;">
                @darkbelg

            </a>
        </p>
    </div>
</div>
</body>
</html>