<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stijn Sagaert</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div id="wrapper">
    <div class="block">
        <h1 id="square" class="section-heading">Portofolio van Stijn Sagaert</h1>
        <!--Links naar rechts-->
        <div class="item-hover square effect left_to_right">
            <a href="https://papipizza.herokuapp.com/toonallepizzas.php">
                <!--content hier-->
                <div class="img">
                    <img src="img/pizza.jpg" alt="img">
                </div>
                <div class="info">
                    <h3>Pizza Webshop</h3>
                    <p>Een php eindopdracht het creeren van een pizza web shop. <br> Gehost op heroku.</p>
                </div>
            </a>
        </div>
        <!--Rechts naar links-->
        <div class="item-hover square effect right_to_left">
            <a href="https://github.com/Darkbelg">
                <div class="img">
                    <img src="img/github.png" alt="img">
                </div>
                <div class="info">
                    <h3>
                        Github
                    </h3>
                    <p>
                        Mijn github waar je de bron code kunt vinden van de pizzawebshop en andere projecten.
                    </p>
                </div>
            </a>
        </div>
        <!--Links naar rechts-->
        <div class="item-hover square effect left_to_right">
            <a href="https://be.linkedin.com/in/stijn-sagaert-5096a35b">
                <!--content hier-->
                <div class="img">
                    <img src="img/linkedin.jpg" alt="img">
                </div>
                <div class="info">
                    <h3>Linked In</h3>
                    <p>Link naar linked in</p>
                </div>
            </a>
        </div>
        <!--Einde row-->
        <!--Einde item-hover-->
    </div>
</div>
</body>
</html>